.ft-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 3%;
}

.gi-container {
  margin: 0 15px;
  text-align: left;
}

.gi-header {
  color: white;
  margin: 0 0 15px;
  text-align: left;
}

.gi-footer {
  color: white;
  margin: 40px 0 15px;
  text-align: left;
}

.gi-ul {
  color: white;
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.gi-li {
  align-items: flex-start;
  display: flex;
  font-size: 1.6rem;
  margin: 0 0 15px;
}

.gi-li a {
  display: block;
  font-size: inherit;
  text-decoration: none;
}

.gi-li a:visited {
  color: white;
}
.gi-li a:hover {
  text-decoration: underline;
}

.gi-nowrap {
  white-space: nowrap;
}
